<div id="grid-container">
</div>
<div id="left-content">
  <div id="blog">
    <h2>Blog</h2>
    <h2>This page is in the works</h2>
    <p>Last updated sept 17, 2013</p>
  </div>
</div>
<div id="right-content">
  <div id="about-splash">
    <h2>Hey there</h2>
    <p>I'm <em>Victor Pontis</em> and this is my blog.</p>
    <p>Read <%= link_to 'my bio', '/about' %> and peruse my <%= link_to 'resume', 'resume.pdf' %></p>
    <p>Follow me on <%= link_to 'Twitter', 'https://www.twitter.com/viccypont' %> or check out my <%= link_to 'Github', 'https://www.github.com/vpontis' %></p>
    <%= image_tag 'victor_pontis.jpg', alt: 'Victor Pontis', size: '193x216' %>
  </div>
</div>

<%= javascript_include_tag "run_conway_game.js" %>  
