.row.center
  .col-md-6.col-md-offset-3
    %h1 Victor Pontis
    %p I am a junior at MIT studying computer science and physics.
    
    %p Check out my #{link_to 'resume', 'resume.pdf'}, my #{link_to 'quora profile', 'http://www.quora.com/Victor-Pontis'}, or #{link_to 'github account', 'https://github.com/vpontis'}. 

    %p Also feel free to #{link_to('send me an email', 'mailto:vpontis@mit.edu')}.

    = image_tag 'victor_headshot.jpg', size: '200x227'

